extends layout

block content
    h1 Contact Page
    p This is the contact page 
    p See some our contact below:
    ul.contacts
        li 251-555-5555
        li 251-555-1234
        li 251-555-2468